#pc-wrap {
	.agent-list-page {
		position: relative;
		padding-top: 50px;
		padding-bottom: 30px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		
		.container {
			display: flex;
			flex-direction: column;
			.filter {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				.left {
					display: flex;
					flex-direction: row;
					input {
						padding: 22px 10px;
						width: 333px;
						height: 50px;
						border: 1px solid green;
						background: #fff;
						color: green;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
						box-sizing: border-box;
					}
				}
				.right {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-end;
					button {
						margin-left: 10px;
						color: white;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: normal;
						line-height: 26px;
						background-color: $green;
					}
				}
			}
			.card-wrap {
				position: relative;
				margin-top: 35px;
				width: 100%;
				min-height: 500px;
				height: auto;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin: 10;
			}
			.pagination {
				display: flex;
				flex-direction: column;
				align-items: center;
				span {
					margin-top: 20px;
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px; 
				}
			}
		}
	}
}
